/* .button {
  position: relative;
  color: white !important;
  width: 200px;
  word-wrap: break-word;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;
  padding: var(--mb-3);
  letter-spacing: 0.1rem;
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.button::before {
  left: 4px;
  z-index: 1;

  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 1);
}

.button:hover {
  color: white;
}

.button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.button::after {
  transition: all 0.3s;
  border: 1px solid var(--primary);
}

.button:hover::after {
  transform: scale(1, 0.1);
  opacity: 0;
} */

.preserve-3d {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.button_base {
	margin: 0;
	border: 0;
	font-size: 18px;
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -100px;
	width: 200px;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-user-select: none;
	cursor: default;
	border-radius: 0.4rem;
}

.button_base:hover {
	cursor: pointer;
}

.b05_3d_roll {
	perspective: 500px;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
}

.b05_3d_roll div {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 50px;
	padding: 10px;
	border: #000000 solid 1px;
	pointer-events: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border-radius: 0.4rem;
}

.b05_3d_roll div:nth-child(1) {
	color: #000000;
	background-color: #be050e;
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -25px;
	-moz-transform-origin: 50% 50% -25px;
	border-radius: 0.4rem;
}

.b05_3d_roll div:nth-child(2) {
	color: var(--backgroundText);
	background-color: var(--accent);
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform-origin: 50% 50% -25px;
	-webkit-transform-origin: 50% 50% -25px;
	-moz-transform-origin: 50% 50% -25px;
	border-radius: 0.4rem;
}

.b05_3d_roll:hover div:nth-child(1) {
	color: #ffffff;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	border-radius: 0.4rem;
}

.b05_3d_roll:hover div:nth-child(2) {
	background-color: #000000;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	border-radius: 0.2rem;
}
