.workshopTemplateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: var(--bgVectorGradient);
  /* background: rgb(28, 29, 35);
  background: linear-gradient(
    90deg,
    rgba(28, 29, 35, 1) 0%,
    rgba(49, 54, 62, 1) 50%
  ); */
}

.detailsDescriptionContainer {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.workshopDetails {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.workshopImgContainer {
  width: 20rem;
  height: 20rem;
  margin: 2rem;
}

.workshopImg {
  object-fit: contain;
  border-radius: 0.4rem;
}

.workshopTime {
  margin-bottom: 0.5rem;
  text-align: left;
}

.workshopDate {
  margin-bottom: 0.5rem;
  text-align: left;
}

.workshopVenue {
  margin-bottom: 0.5rem;
  text-align: left;
}

.workshopFee {
  margin-bottom: 0.5rem;
  text-align: left;
}

.workshopDescription {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: var(--primaryFont);
  color: var(--text);
}

.buttonContainer {
  margin-top: var(--mb-2);
}

.workshopIcons {
  color: var(--primary);
  margin-right: 1rem;
  font-size: larger;
}

.speakersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--mb-3) 0;
}

.headingContainer {
  margin: var(--mb-3) 0;
}

.organizersCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.organizersCardsContainer > * {
  margin: var(--mb-2);
}

/* Both Tablet and Mobile */
@media only screen and (max-width: 1023px) {
  .workshopTemplateContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }
  .workshopDetails {
    width: 100%;
    justify-content: flex-start;
    padding: 1rem;
  }
  .workshopDescription {
    width: 100%;
    justify-content: flex-start;
    padding: 1rem;
  }
}

/* Mobile only */
@media only screen and (max-width: 767px) {
  .workshopImgContainer {
    width: 80%;
    height: fit-content;
    margin-bottom: 2rem;
  }
}
