.cardContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	margin: 1rem;
	width: 80%;
	height: fit-content;
	border: solid var(--primary);
	border-width: 0.3rem;
	border-radius: 0.5rem;
}

/* .imgContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--tertiary);
	z-index: var(--z-back);
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
}

.img {
	object-fit: contain;
	border: solid var(--primary);
	border-width: 0.3rem;
	border-radius: 0.3rem;
} */

.textContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: fit-content;
	background-color: #0e0e0e;
	text-align: center;
	padding: 0.6rem 0.1rem;
	width: 100%;
	transition: 0.4s ease;
}

.title {
	font-size: x-large;
	font-weight: bold;
	color: var(--white);
	font-family: var(--primaryFont);
	width: 90%;
	letter-spacing: 0.1rem;
	word-wrap: break-word;
}

.description {
	font-size: medium;
	color: var(--white);
	width: 90%;
	text-align: justify;
	margin-top: 1rem;
}

/* @media (hover: hover) {
	.cardContainer:hover .textContainer {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.cardContainer:hover .img {
		-webkit-filter: opacity(85%) blur(2px);
		filter: opacity(85%) blur(2px);
		transition: 0.2s ease-in-out;
	}
} */

/* Mobile only */
@media only screen and (max-width: 767px) {
	.cardContainer {
		width: 14rem;
		height: 14rem;
	}
}

/* Tablet only */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.cardContainer {
		width: 14rem;
		height: 14rem;
	}
}
