@font-face {
  font-family: "PrimaryRegular";
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "PrimaryMedium";
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "PrimaryBold";
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}
