@font-face {
  font-family: "PrimaryRegular";
  src: url(assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "PrimaryMedium";
  src: url(assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "PrimaryBold";
  src: url(assets/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "DINRegular";
  src: url(assets/fonts/DIN/DIN.ttf);
}

@font-face {
  font-family: "DINMedium";
  src: url(assets/fonts/DIN/DIN\ Bold.ttf);
}

@font-face {
  font-family: "DINBold";
  src: url(assets/fonts/DIN/DIN.ttf);
}

@font-face {
  font-family: "StylishRegular";
  src: url(assets/fonts/Stylish/NeueMetana-Regular.otf);
}

@font-face {
  font-family: "StylishBold";
  src: url(assets/fonts/Stylish/NeueMetana-Bold.otf);
}
